<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./pass.css">

    <title>Document</title>
</head>
<body>
    <div class="form">
        <h1 style="font-size: 34px;">New Passward</h1>
        <input type="text" id="text1" placeholder="Create New Password">
        <input type="text" id="text2" placeholder="Confirm Your Password">
        
        <button class="btn">Change</button>
    </div>
    <script src="script.js"></script>
</body>
</html>